<mat-card>
    <mat-card-title>Change Passowrd</mat-card-title>
    <mat-card-content>
        <form #loginForm="ngForm" (submit)="formSubmitted(loginForm)">
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput name="username" required [(ngModel)]="username" readonly="true">
            </mat-form-field>
            <mat-form-field>
                <mat-label>New Password</mat-label>
                <input type="password" matInput name="password" required [(ngModel)]="password">
                <!-- <div *ngIf="loginForm.controls['password'].hasError('pattern')">
                    Password should contain at least one uppercase letter, one lowercase letter, one digit, one Special Char, and be at least 8 characters long.
                  </div> -->
            </mat-form-field>
            <mat-form-field>
                <mat-label>Confirm Password</mat-label>
                <input type="password" matInput name="password2" required [(ngModel)]="passwordRepeat" >
            </mat-form-field>
                <button type="submit" mat-raised-button color="primary">Change Password</button>

        </form>
        
          
    </mat-card-content>
</mat-card>

  
<router-outlet></router-outlet>